<ion-view view-title="Manage Designs">
    <ion-content class="has-bottom">

        <div class="" ng-init="vm.getList()"></div>
        <!--<div class="padding"></div>-->
        <div class="list list-inset my-search-border">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search..." ng-model="vm.options.search" ng-change="vm.search()">
                </label>
        </div>

        <div class="list card" ng-if="!vm.list.length">
            <div class="item text-center">
                <h1>NO DATA FOUND</h1>
            </div>
            <div class="item item-body">
                <p>
                    <div class="text-center">
                        <img src="img/nodata.jpg" style="width:250px;height:250px">
                        </img>
                    </div>
            </div>
        </div>

        <div class="row calm" align="" ng-if="vm.list.length > 0">
            <div class="col col-33 table-col">Design</div>
            <div class="col col-33 table-col">Status</div>
            <div class="col col-33 table-col">Action</div>
        </div>

        <div class="row" align="" ng-repeat="obj in vm.list">
            <div class="col col-33 table-col">{{obj.title}}</div>
            <div ng-if="obj.isActive" data-th="Status: " class="col col-33 table-col balanced">Active</div>
            <div ng-if="!obj.isActive" data-th="Status: " class="col col-33 table-col assertive">Inactive</div>
            <div class="col col-33 table-col">
                <button class="button  button-small button-dark" ng-click="vm.edit(obj)">Edit Data</a>
                </div>
            </div>

    </ion-content>
        <div class="fixed-outside">
        <div class="row">
                <div class="col col-offset-66">
                    <button class="button button-circle button-assertive icon ion-plus"  ui-sref="app.edit-design">
                    </button>
            </div>
        </div>
        </div>
</ion-view>