<ion-view view-title="Add/Edit Style">
<ion-content>
    <div ng-init="vm.activate()"></div>
     <form name="styleForm" novalidate>
            <label class="item item-input   item-floating-label">
                <span class="input-label">Style</span>
                 <input id="username" name="title" required placeholder="Style" type="text"  ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-model="vm.style.title" ng-minlength="2" ng-maxlength="30">
                    <span class="assertive" ng-if="(styleForm.title.$dirty || vm.isSubmitted) && styleForm.title.$error.pattern">No special characters are allowed.</span>
                    <span class="assertive" ng-if="styleForm.title.$dirty && styleForm.title.$error.required"><i><b>Style</b></i> is required.</span>
                    <span class="assertive" ng-if="styleForm.title.$dirty && styleForm.title.$error.minlength"><i><b>Style</b></i> should be at least 2 characters long.</span>
                    <span class="assertive" ng-if="styleForm.title.$dirty && styleForm.title.$error.maxlength"><i><b>Style</b></i> should not be more than 30 characters long.</span>
            </label>

              <label class="item item-input item-select" ng-init="vm.getDesignList()">
                <div class="input-label">
                     Design
                </div>
                <select required class="paragraph" name="designId" ng-model="vm.style.DesignId">
                        <option value="">Please Select</option>
                        <option ng-repeat="item in vm.designs | filter:{isActive :true}" value="{{item.id}}">{{item.title}}</option>
                </select>
                <span class="assertive" ng-if="styleForm.designId.$dirty && styleForm.designId.$error.required"><i><b>Design</b></i> is required.</span>
            </label> 

              <label class="item item-input row">
                <div class="input-label col col-33">
                     &nbsp;Image
             </div>
                <button class="button  button-small button-assertive col col-33 col-offset-33"
                       ngf-select="vm.displayPhoto($file)"
                       ng-model="vm.file"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"
                       ngf-max-size="3MB"
                       ngf-min-height="10"
                       ngf-required
                       ngf-resize>Choose</button>
                    <span class="assertive" ng-if="styleForm.designId.$dirty && styleForm.designId.$error.required"><i><b>Image</b></i> is required.</span>
            </label>

            <div class="padding" align="center">
                    <img ng-if="vm.localPicture || vm.style.image" ng-src="{{vm.localPicture || vm.style.image}}" height="200" width="200">
            </div>

            <li class="item item-toggle">
                    Is Active
                <label class="toggle toggle-calm">
                <input type="checkbox" ng-model="vm.style.isActive">
                <div class="track">
                <div class="handle"></div>
                </div>
                </label>
            </li> 

                    <div ng-if="vm.error">
                        <div class="assertive padding">{{vm.error}}</div>
                    </div>
                     <a class="button button-outline button-balanced button-block" type="submit" ng-disabled="vm.startProcessing" ng-click="vm.save(styleForm)">Save</a>
                     <a class="button button-outline button-assertive button-block" type="submit" ui-sref="app.style">cancel</a>
    </form>
  </ion-content>
</ion-view>