<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="vm.doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>

<!--<ion-view view-title="Login">
  <div class="bar bar-header bar-balanced">
    <h1 class="title">LOGIN</h1>
  </div>
  <ion-content class="has-header">
    <form name="form">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" name="username" placeholder="Username" ng-model="data.username" required />
          <span ng-messages="form.username.$error" ng-if="form.username.$dirty">
            <span ng-message="required">This field is required</span>
          </span>
        </label>


        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" name="password" placeholder="Password" ng-model="data.password" required />
          <span ng-messages="form.password.$error" ng-if="form.password.$dirty">
            <span ng-message="required">This field is required</span>
            </span>
          </label>

          <!--<a  class="button button-block button-dark" type="submit" ng-click="submit(data)">Login</a>-->
          <a class="button button-block button-dark button-outline" ng-disabled="form.$invalid" ng-click="vm.login(data)">Login</a>
          <a ui-sref="register" class="button button-block button-dark button-outline" >Signup</a>
          <div align="center">
            <a ui-sref="forgotPass">Forgot Password?</a>
          </div>
          <!-- <span ng-show="vm.error" style="color: red">{{vm.error}}</span> -->
        </form>
      </ion-content>
    </ion-view>-->
