<ion-view view-title="Home Page">
  <ion-content>
    <div class="card" ui-sref="app.stats">
     <div class="item item-text-wrap item-calm" align="center">
       <a  ><img src="img/dashboard-icon.png" alt="ProT Boutique"></a>
       <h2>Dashboard</h2>
     </div>
    </div>

     <div class="card" ui-sref="app.notifications">
     <div class="item item-text-wrap item-calm" align="center">
       <a  ><img src="img/notification-icon.png" alt="ProT Boutique"></a>
       <h2>Notifications</h2>
     </div>
    </div>

     <div class="card" ui-sref="app.notifications">
     <div class="item item-text-wrap item-calm" align="center">
       <a  ><img src="img/stats-icon.png" alt="ProT Boutique"></a>
       <h2>Manage Orders</h2>
     </div>
    </div>

     <div class="card" ui-sref="app.notifications">
     <div class="item item-text-wrap item-calm" align="center">
       <a  ><img src="img/reports-icon.png" alt="ProT Boutique"></a>
       <h2>Reports</h2>
     </div>
    </div>

  </ion-content>
</ion-view>