<ion-view view-title="Home Page">
  <ion-content>
  
<div class="main-contant-part minpageheight">
    <div class="inner-middle-main">
        <div class="static-middle-section">
            <div class="site-m-middle-main">
              <ul>
                <li><a ui-sref="app.stats"><img src="img/dashboard-icon.png" alt="ProT Boutique"><i>Dashboard</i></a></li>
                <li><a ui-sref="app.notifications"><img src="img/notification-icon.png" alt="ProT Boutique"><i>Notifications</i></a></li>
                <li><a ui-sref="app.dashboard"><img src="img/stats-icon.png" alt="ProT Boutique"><i>Manage Orders</i></a></li>
                <li><a ui-sref="app.reports"><img src="img/reports-icon.png" alt="ProT Boutique"><i>Reports</i></a></li>
              </ul>
             </div>
          </div>
        </div>
    </div>
</div>



  </ion-content>
</ion-view>