<ion-view view-title="Home Page">
  <ion-content>
    <div class="card" ui-sref="app.dashboard">
      <div class="item item-text-wrap home-card">
        Dashboard
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap home-card">
        Notification
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap home-card">
        ProT Boutique Stats
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap home-card">
        Reports
      </div>
    </div>


  </ion-content>
</ion-view>