<ion-view view-title="Customer Page">
  <ion-content>
    <div class="" ng-init="vm.getList()"></div>
    <!--<div class="padding"></div>-->
    <div class="list list-inset">
        <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search..." ng-model="vm.options.search" ng-change="vm.search()">
        </label>
    </div>

      <div class="list card"  ng-if="!vm.list.length">
        <div class="item text-center">
        <h1>NO DATA FOUND</h1>
        </div>
        <div class="item item-body">
        <p>
        <div class="text-center">
        <img src="img/nodata.jpg" style="width:250px;height:250px">
        </img>
        </div>
        </div>
      </div>

          <div class="row calm" align="" ng-if="vm.list.length > 0">
              <div class="col col-33 table-col">Name</div>
              <div class="col col-33 table-col">Number</div>
              <div class="col col-33 table-col">Action</div>
          </div>
          <div class="row" align="" ng-repeat="obj in vm.list">
              <div class="col col-33 table-col">{{obj.name}}</div>
              <div class="col col-33 table-col">{{obj.mobile}}</div>
              <div class="col col-33 table-col">
                <i class="ion-edit table-icon-large" ng-click="vm.edit(obj)"></i>
                <i class="ion-information-circled table-icon-large"></i>
              </div>
          </div>
        <button class="button button-float" ui-sref="app.edit-customer">
                <i class="icon ion-plus"></i>
        </button>
  </ion-content>
</ion-view>