<ion-view view-title="Add/Edit Customer">
    <ion-content >
        <div  ng-init="vm.activate()"></div>
        <form name="customerForm" novalidate>
            <label class="item item-input   item-floating-label  my-item-border">
                <span class="input-label">Customer Name</span>
                <input ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-minlength="2" ng-maxlength="50" ng-model="vm.customer.name"
                name="name" required placeholder="Customer Name" type="text">
                <span class="assertive" ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.pattern">No special characters are allowed.</span>
                <span class="assertive" ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.required"><i><b>Customer Name</b></i> is required.</span>
                <span class="assertive" ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.minlength"><i><b>Customer Name</b></i> should be at least 2 characters long.</span>
                <span class="assertive" ng-if="(customerForm.name.$dirty || vm.isSubmitted) && customerForm.name.$error.maxlength"><i><b>Customer Name</b></i> should not be more than 50 characters long.</span>
            </label>

             <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Mobile Number</span>
               <input ng-model="vm.customer.mobile" ng-pattern="/^[0-9]{1,10}$/" name="mobilenumber"
                ng-minlength="10" ng-maxlength="10" required placeholder="Mobile Number" type="text">
                <span class="assertive" ng-if="(customerForm.mobilenumber.$dirty || vm.isSubmitted) && customerForm.mobilenumber.$error.required"><i><b>Mobile Number</b></i> is required.</span>
                <span class="assertive" ng-if="(customerForm.mobilenumber.$dirty || vm.isSubmitted) && (customerForm.mobilenumber.$error.pattern || customerForm.mobilenumber.$error.minlength || customerForm.mobilenumber.$error.maxlength)">Enter a valid 10-digit <i><b>Mobile Number</b></i>.</span>
            </label>

            <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Phone Number</span>
               <input  ng-model="vm.customer.phone" ng-pattern="/^[0-9]{1,11}$/" name="phonenumber"
                ng-minlength="11" ng-maxlength="11" placeholder="Phone Number" type="text">
                <span class="assertive" ng-if="(customerForm.phonenumber.$dirty || vm.isSubmitted) && (customerForm.phonenumber.$error.pattern || customerForm.phonenumber.$error.minlength || customerForm.phonenumber.$error.maxlength)">Enter a valid 11-digit <i><b>Phone Number</b></i>.</span>
            </label>

             <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Email Address</span>
               <input  ng-model="vm.customer.email" name="email" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/"
                placeholder="Email address" ng-minlength="5" ng-maxlength="250" type="email">
                <span class="assertive" ng-if="(customerForm.email.$dirty || vm.isSubmitted) && customerForm.email.$error.pattern">Enter a valid <i><b>Email</b></i>.</span>
                <span class="assertive" ng-if="(customerForm.email.$dirty || vm.isSubmitted) && !customerForm.email.$error.pattern && customerForm.email.$error.minlength"><i><b>Email</b></i> should be at least 5 characters long.</span>
                <span class="assertive" ng-if="(customerForm.email.$dirty || vm.isSubmitted) && customerForm.email.$error.maxlength"><i><b>Email</b></i> should not be more than 250 characters long.</span>
            </label>

            <label class="item item-input item-select my-item-border">
                <div class="input-label">
                     Gender
                </div>
                 <select required class="paragraph " name="gender" ng-model="vm.customer.gender">
                        <option value="">Please Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
            </label>
            <span class="assertive item" ng-if="(customerForm.gender.$dirty || vm.isSubmitted) && customerForm.gender.$error.required"><i><b>Gender</b></i> is required.</span>
            
            <label class="item item-input my-item-border ">
                <span class="input-label">Birth Date</span>
                <input type="date" name="dob" ng-model="vm.customer.dob" ng-max="vm.today" placeholder="Birth Date">
            </label>
            <span class="item assertive" ng-if="(customerForm.dob.$dirty || vm.isSubmitted) && customerForm.dob.$error.max" class="assertive"><i><b>Birth Date</b></i> should not be future date.</span>
           
            <label class="item item-input my-item-border ">
                <span class="input-label">Anniversary</span>
                <input type="date" name="annerversary" ng-model="vm.customer.annerversary" ng-max="vm.today">
            </label>
            <span class="item assertive" ng-if="(customerForm.annerversary.$dirty || vm.isSubmitted) && customerForm.annerversary.$error.max" class="assertive"><i><b>Anniversary</b></i> should not be future date.</span>
            <label class="item item-input   item-floating-label my-item-border ">
                <span class="input-label">Address</span>
               <textarea required ng-model="vm.customer.address" rows="4" cols="50" placeholder="Address" name="address" ng-minlength="2" ng-maxlength="250"></textarea>
                <span class="assertive" ng-if="(customerForm.address.$dirty || vm.isSubmitted) && customerForm.address.$error.required"><i><b>Address</b></i> is required.</span>
                <span class="assertive" ng-if="(customerForm.address.$dirty || vm.isSubmitted) && customerForm.address.$error.minlength"><i><b>Address</b></i> should be at least 2 characters long.</span>
                <span class="assertive" ng-if="(customerForm.address.$dirty || vm.isSubmitted) && customerForm.address.$error.maxlength"><i><b>Address</b></i> should not be more than 250 characters long.</span>
            </label>

            <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Billing Address</span>
                <textarea ng-model="vm.customer.billingAddress" rows="4" cols="50" placeholder="Billing Address" name="billingAddress" ng-minlength="2" ng-maxlength="250"></textarea>
                <span class="assertive" ng-if="(customerForm.billingAddress.$dirty || vm.isSubmitted) && customerForm.billingAddress.$error.minlength"><i><b>Billing Address</b></i> should be at least 2 characters long.</span>
                        <span ng-if="(customerForm.billingAddress.$dirty || vm.isSubmitted) && customerForm.billingAddress.$error.maxlength"><i><b>Billing Address</b></i> should not be more than 250 characters long.</span>
            </label>

            <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Remarks</span>
                <textarea ng-model="vm.customer.remark" rows="4" cols="50" placeholder="Remark" name="remark" ng-minlength="2" ng-maxlength="250"></textarea>
                <span class="assertive"ng-if="(customerForm.remark.$dirty || vm.isSubmitted) && customerForm.remark.$error.minlength"><i><b>Remark</b></i> should be at least 2 characters long.</span>
                <span class="assertive" ng-if="(customerForm.remark.$dirty || vm.isSubmitted) && customerForm.remark.$error.maxlength"><i><b>Remark</b></i> should not be more than 250 characters long.</span>
            </label>

            <div class="list" ng-init="vm.getMeasurementList()">
            <label class="item item-input my-item-border" ng-repeat="msr in vm.customer.CustomerMeasurements">
                <span class="input-label">{{msr.Measurement.title}}</span>
                <input type="text" ng-model="msr.val">
            </label>
            </div>

            <div class="" ng-if="vm.error">{{vm.error}}
                    <div class="assertive" class="assertive">{{vm.error}}</div>
             </div>

            <a class="button button-outline button-balanced button-block" type="submit" ng-disabled="vm.startProcessing" ng-click="vm.save(customerForm)">Save</a>
            <a class="button button-outline button-assertive button-block" type="button" ui-sref="app.customer">cancel</a>
            </form>
</ion-content>
</ion-view>


                   