<ion-view view-title="Add/Edit Customer">
    <ion-content >
        <div class="list" ng-init="vm.activate()">
        <form name="customerForm" name="customerForm">
            <label class="item item-input   item-floating-label item-floating-label my-item-border">
                <span class="input-label">Customer Name</span>
                <input ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-minlength="2" ng-maxlength="50" ng-model="vm.customer.name"
                name="name" required placeholder="Customer Name" type="text">
            </label>

             <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Mobile Number</span>
               <input ng-model="vm.customer.mobile" ng-pattern="/^[0-9]{1,10}$/" name="mobilenumber"
                ng-minlength="10" ng-maxlength="10" required placeholder="Mobile Number" type="text">
            </label>

            <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Phone Number</span>
               <input  ng-model="vm.customer.phone" ng-pattern="/^[0-9]{1,11}$/" name="phonenumber"
                ng-minlength="11" ng-maxlength="11" placeholder="Phone Number" type="text">
            </label>

             <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Email Address</span>
               <input  ng-model="vm.customer.email" name="email" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/"
                placeholder="Email address" ng-minlength="5" ng-maxlength="250" type="email">
            </label>

            <label class="item item-input item-select my-item-border my-item-border">
                <div class="input-label">
                     Gender
                </div>
                 <select required class="paragraph " name="gender" ng-model="vm.customer.gender">
                        <option value="">Please Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
            </label>
            
            <label class="item item-input my-item-border my-item-border">
                <span class="input-label">Birth Date</span>
                <input type="date" name="dob" ng-model="vm.customer.dob" ng-max="vm.today" placeholder="Birth Date">
            </label>

            <label class="item item-input my-item-border my-item-border">
                <span class="input-label">Anniversary</span>
                <input type="date" name="dob" ng-model="vm.customer.annerversary" ng-max="vm.today">
            </label>

            <label class="item item-input   item-floating-label my-item-border my-item-border">
                <span class="input-label">Address</span>
               <textarea required ng-model="vm.customer.address" rows="4" cols="50" placeholder="Address" name="address" ng-minlength="2" ng-maxlength="250"></textarea>
            </label>

            <label class="item item-input   item-floating-label my-item-border my-item-border">
                <span class="input-label">Billing Address</span>
                <textarea ng-model="vm.customer.billingAddress" rows="4" cols="50" placeholder="Billing Address" name="billingAddress" ng-minlength="2" ng-maxlength="250"></textarea>
            </label>

            <label class="item item-input   item-floating-label my-item-border">
                <span class="input-label">Remarks</span>
                <textarea ng-model="vm.customer.remark" rows="4" cols="50" placeholder="Remark" name="remark" ng-minlength="2" ng-maxlength="250"></textarea>
            </label>

            <div ng-init="vm.getMeasurementList()">
             <!--<div class="form-heading Measurement-editcostumer-detail-mobile">Measurement</div>
                        <div class="measurement-li-box">
                            <ul>
                                <li class="ng-scope" ng-repeat="msr in vm.customer.CustomerMeasurements">
                                    <i>{{msr.Measurement.title}}</i>
                                    <strong>
                                        <input class="measurement-input" ng-model="msr.val" type="text">
                                        <img src="img/inc-icon.png" alt="">
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
             </div>-->
            <a class="button button-outline button-balanced button-block" type="submit" ng-disabled="vm.startProcessing" ng-click="vm.save(customerForm)">Save</a>
            <a class="button button-outline button-assertive button-block" type="submit" ui-sref="app.customer">cancel</a>
            </form>
        </div>

</ion-content>
</ion-view>


                   