<ion-view view-title="Dashboard">
  <ion-content>

    <div ng-init="vm.getList()"></div>

    <div class="main-contant-part minpageheight">
      <div class="statsinchar">
        <h2 class="statusUnderline">Collection Stats</h2>
        <div class="stats-container row  row-no-padding">
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.todayCollection | currency : '&#8377;'}}</strong> <span align="center">Today's</span></div>
          </div>
          <div class="oval-margin ">
            <div class="oval"><strong>{{vm.thisweekCollection | currency : '&#8377;'}}</strong> <span>This Week</span></div>
          </div>
          <div class="oval-margin ">
            <div class="oval"><strong>{{vm.thismonthCollection | currency : '&#8377;'}}</strong> <span>This Month</span></div>
          </div>

        </div>
      </div>

      <div class="statsinchar">
        <h2 class="statusUnderline">Order Stats</h2>
        <div class="stats-container ">
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.todayorder}}</strong> <span>Today's</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.thisweekorder}}</strong> <span>This Week</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.thismonthorder}}</strong> <span>This Month</span></div>
          </div>

        </div>
      </div>

      <div class="statsinchar">
        <h2 class="statusUnderline">Products Stats</h2>
        <div class="stats-container ">
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.bestDesign}}</strong> <span>Best Design</span></div>

          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.bestStyle}}</strong> <span>Best Style</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.bestCombo}}</strong> <span>Best Combo</span></div>
          </div>

        </div>
      </div>


      <div class="statsinchar">
        <h2 class="statusUnderline">Numbers Stats</h2>
        <div class="stats-container ">
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.totalCustomers}}</strong> <span>Customers</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.totalOrders}}</strong> <span>Orders</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.newOrders}}</strong><span>New Orders</span></div>
          </div>
        </div>
      </div>
      
        <div class="stats-container ">
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.stitchingOrders}}</strong> <span>Stitching</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.completedOrders}}</strong> <span>Completed</span></div>
          </div>
          <div class="oval-margin">
            <div class="oval"><strong>{{vm.cancelledOrders}}</strong> <span>Cancelled</span></div>
          </div>
        </div>



     
          
          

  </ion-content>
</ion-view>