<ion-view view-title="Manage Order page">
    <ion-content class="has-footer">
        <div ng-init="vm.activate()"></div>

        <div ng-if="vm.flag==1">
            <div class="list card" ng-if="!vm.list.one.length">
                <div class="item text-center">
                    <h1>NO DATA FOUND</h1>
                </div>
                <div class="item item-body">
                    <p>
                        <div class="text-center">
                            <img src="img/nodata.jpg" style="width:200px;height:200px">
                            </img>
                        </div>
                </div>
            </div>
            <div class="card" ng-repeat="stch in vm.list.one" ng-if="vm.list.one.length > 0">
                <div class="item item-text-wrap item-calm" align="" ng-click="vm.edit(stch)">
                    OrderId:{{stch.Order.id}}
                </div>
                <div class="item item-divider">
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Design
                        </div>
                        <div class="col col-50">
                            {{stch.Design.title}}
                        </div>
                    </div>
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Customer Name
                        </div>
                        <div class="col col-50">
                            {{stch.Order.Customer.name}}
                        </div>
                    </div>
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Delivery Date
                        </div>
                        <div class="col col-50">
                            {{stch.deliveryDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Status
                        </div>
                        <div class="col col-50">
                            {{stch.OrderStatus.title}}
                        </div>
                    </div>


                </div>
            </div>
            <!--<div class="paging" ng-if="vm.list.one.length > 0">
                        <span class="showing-text-bx">
                    Showing {{ ((vm.options.one.page - 1) * vm.options.one.pagesize) + 1 }} to
                    <t ng-if="(vm.options.one.page * vm.options.one.pagesize) > vm.options.one.totalItems">{{vm.options.one.totalItems}}</t>
                    <t ng-if="(vm.options.one.page * vm.options.one.pagesize) < vm.options.one.totalItems">{{vm.options.one.page * vm.options.one.pagesize}}</t>
                    of {{vm.options.one.totalItems}} Deliverable Orders
                </span>
                        <div class="paging-text">
                            <ul uib-pagination ng-change="vm.pageChange('one')" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.one.totalItems"
                                items-per-page="vm.options.one.pagesize" ng-model="vm.options.one.page" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>-->
        </div>


        <div ng-if="vm.flag==2">
            <div class="list card" ng-if="!vm.list.two.length">
                <div class="item text-center">
                    <h1>NO DATA FOUND</h1>
                </div>
                <div class="item item-body">
                    <p>
                        <div class="text-center">
                            <img src="img/nodata.jpg" style="width:200px;height:200px">
                            </img>
                        </div>
                </div>
            </div>
            <div class="card" ng-repeat="stch in vm.list.two" ng-if="vm.list.two.length > 0">
                <div class="item item-text-wrap item-calm" align="" ng-click="vm.edit(stch)">
                    OrderId:{{stch.Order.id}}
                </div>
                <div class="item item-divider">
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Design
                        </div>
                        <div class="col col-50">
                            {{stch.Design.title}}
                        </div>
                    </div>
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Customer Name
                        </div>
                        <div class="col col-50">
                            {{stch.Order.Customer.name}}
                        </div>
                    </div>
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Delivery Date
                        </div>
                        <div class="col col-50">
                            {{stch.deliveryDate | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                    <div class="row my-item-border">
                        <div class="col col-50">
                            Status
                        </div>
                        <div class="col col-50">
                            {{stch.OrderStatus.title}}
                        </div>
                    </div>


                </div>
            </div>
            </div>
                <!--<div class="paging" ng-if="vm.list.two.length > 0">
                        <span class="showing-text-bx">
                    Showing {{ ((vm.options.two.page - 1) * vm.options.two.pagesize) + 1 }} to
                    <t ng-if="(vm.options.two.page * vm.options.two.pagesize) > vm.options.two.totalItems">{{vm.options.two.totalItems}}</t>
                    <t ng-if="(vm.options.two.page * vm.options.two.pagesize) < vm.options.two.totalItems">{{vm.options.two.page * vm.options.two.pagesize}}</t>
                    of {{vm.options.two.totalItems}} New Orders
                </span>
                        <div class="paging-text">
                            <ul uib-pagination ng-change="vm.pageChange('two')" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.two.totalItems"
                                items-per-page="vm.options.two.pagesize" ng-model="vm.options.two.page" class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>-->


                <div ng-if="vm.flag==3">
                    <div class="list card" ng-if="!vm.list.three.length">
                        <div class="item text-center">
                            <h1>NO DATA FOUND</h1>
                        </div>
                        <div class="item item-body">
                            <p>
                                <div class="text-center">
                                    <img src="img/nodata.jpg" style="width:200px;height:200px">
                                    </img>
                                </div>
                        </div>
                    </div>
                    <div class="card" ng-repeat="stch in vm.list.three" ng-if="vm.list.three.length > 0">
                        <div class="item item-text-wrap item-calm" align="" ng-click="vm.edit(stch)">
                            OrderId:{{stch.Order.id}}
                        </div>
                        <div class="item item-divider">
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Design
                                </div>
                                <div class="col col-50">
                                    {{stch.Design.title}}
                                </div>
                            </div>
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Customer Name
                                </div>
                                <div class="col col-50">
                                    {{stch.Order.Customer.name}}
                                </div>
                            </div>
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Delivery Date
                                </div>
                                <div class="col col-50">
                                    {{stch.deliveryDate | date:'dd-MM-yyyy'}}
                                </div>
                            </div>
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Status
                                </div>
                                <div class="col col-50">
                                    {{stch.OrderStatus.title}}
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>


                <div ng-if="vm.flag==4">
                    <div class="list card" ng-if="!vm.list.four.length">
                        <div class="item text-center">
                            <h1>NO DATA FOUND</h1>
                        </div>
                        <div class="item item-body">
                            <p>
                                <div class="text-center">
                                    <img src="img/nodata.jpg" style="width:200px;height:200px">
                                    </img>
                                </div>
                        </div>
                    </div>
                    <div class="card" ng-repeat="stch in vm.list.four" ng-if="vm.list.four.length > 0">
                        <div class="item item-text-wrap item-calm" align="" ng-click="vm.edit(stch)">
                            OrderId:{{stch.Order.id}}
                        </div>
                        <div class="item item-divider">
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Design
                                </div>
                                <div class="col col-50">
                                    {{stch.Design.title}}
                                </div>
                            </div>
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Customer Name
                                </div>
                                <div class="col col-50">
                                    {{stch.Order.Customer.name}}
                                </div>
                            </div>
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Delivery Date
                                </div>
                                <div class="col col-50">
                                    {{stch.deliveryDate | date:'dd-MM-yyyy'}}
                                </div>
                            </div>
                            <div class="row my-item-border">
                                <div class="col col-50">
                                    Status
                                </div>
                                <div class="col col-50">
                                    {{stch.OrderStatus.title}}
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>                    
                        <!--<div class="paging" ng-if="vm.list.four.length > 0">
                            <span class="showing-text-bx">
                    Showing {{ ((vm.options.four.page - 1) * vm.options.four.pagesize) + 1 }} to
                    <t ng-if="(vm.options.four.page * vm.options.four.pagesize) > vm.options.four.totalItems">{{vm.options.four.totalItems}}</t>
                    <t ng-if="(vm.options.four.page * vm.options.four.pagesize) < vm.options.four.totalItems">{{vm.options.four.page * vm.options.four.pagesize}}</t>
                    of {{vm.options.four.totalItems}} Cancelled Orders
                </span>
                            <div class="paging-text">
                                <ul uib-pagination ng-change="vm.pageChange('four')" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.four.totalItems"
                                    items-per-page="vm.options.four.pagesize" ng-model="vm.options.four.page" class="pagination-sm"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>-->
                    </div>
                </div>
    </ion-content>
    <ion-footer>
     <div class="tabs-striped tabs-color-assertive" ng-init="vm.flag=1">
            <div class="tabs">
                <a class="tab-item" ng-class="{active:  vm.flag==1}" ng-click="vm.flag=1">
                    <i class="ion-model-s"></i> Delivery
                </a>
                <a class="tab-item " ng-class="{active: vm.flag==2}" ng-click="vm.flag=2">
                    <i class="ion-plus"></i> New
                </a>
                <a class="tab-item " ng-class="{active: vm.flag==3}" ng-click="vm.flag=3">
                    <i class="ion-checkmark-round"></i> Complete
                </a>
                <a class="tab-item " ng-class="{active: vm.flag==4}" ng-click="vm.flag=4">
                    <i class="ion-close"></i> Cancel
                </a>
            </div>
        </div>
    </ion-footer>
</ion-view>