.io-login-center{
    margin-top: 50%;
}

.table-col {
/*border-top: 1px solid #0a9dc7;*/
border-bottom: 1px solid #0a9dc7;
}

.table-icon-large{
    font-size: 25px;
    padding-left: 15px;
}
.rightside{
    float: right;
}
.item{
    border: 0px white !important;
}
.my-item-border{
    border-bottom: 1px solid #ddd !important;
}
/*.button{
    min-width: 0px !important;
}*/
.bottom{
    position: fixed;
    top: 85%;
    width: 100%;
}
.top{
    position: fixed;
    top: 10% !important;
    width: 100%;
}
.button-float{
  background: #ef473a !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken(#ef473a, 10%) !important;
}












.io-larger {
    font-size: 96%;
    padding: 10%;
}
.io-noborder {
        border: 0px !important ;
}
.io-submenu-design{
    background: #f8f8f8;
}
.io-margin-l-45{
    margin-left: 45%;
}
.io-margin-l-25{
    margin-left: 25%;
}
.io-login-center{
    margin-top: 50%;
}
.io-margin-l-14{
    margin-left: 14%;
    border-left:0 !important;
}